<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuyu.apprecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StaggeredSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefreshXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StaggeredXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomXRecyclerRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NormalEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.XRecyclerEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GridXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GridSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.NormalSystemRefreshActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>