<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuyu.apprecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".special.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.NormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.SystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.StaggeredSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.NormalXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.RefreshXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.StaggeredXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.CustomXRecyclerRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.NormalEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.XRecyclerEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.GridXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.GridSystemRefreshActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.NormalSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.NormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.SystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.StaggeredSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.NormalXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.RefreshXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.StaggeredXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.CustomXRecyclerRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.NormalEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.XRecyclerEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.GridXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.activity.GridSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.NormalHomeActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>