<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuyu.apprecycler">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".LazyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--*****************************************************-->

        <activity
            android:name=".special.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.NormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.SystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.StaggeredSystemRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.NormalXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.RefreshXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.StaggeredXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.CustomXRecyclerRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.NormalEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.XRecyclerEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.GridXRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".special.activity.GridSystemRefreshActivity"
            android:screenOrientation="portrait" />

        <!--*****************************************************-->
        <activity
            android:name=".bind.activity.BindRefreshLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindHorizontalRefreshLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindHorizontalGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindNormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindStaggeredRefreshLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindHorizontalStaggeredRefreshLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.activity.BindDragSwipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bind.BindHomeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".chat.detail.ChatDetailActivity"
            android:theme="@style/AppThemeTitle"
            android:screenOrientation="portrait" />

    </application>

</manifest>